.finalizar-pedido {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  padding: 10px 20px;
  z-index: 999; 
  border-radius: 50px; 
}

#imperios-burger {
  color: #ffa500; 
  font-size: 2.5rem; 
  font-weight: bold; 
  text-align: center;
  width: 100%;
  margin: 0 auto; 
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #343a40;
  padding-top: 20px;
  transition: left 0.3s ease;
  z-index: 1000; 
}

.sidebar .list-group-item {
  color: white;
  background-color: #343a40;
  border: none;
}

.sidebar .list-group-item:hover {
  background-color: #495057;
}

.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    left: -250px;
    transition: left 0.3s ease;
  }

  .sidebar.active {
    left: 0;
  }

  .content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
  }

  #menu-toggle {
    display: block;
  }

  .content.active {
    opacity: 0.5; 
  }
}

@media (min-width: 768px) {
  #menu-toggle {
    display: none;
  }
}
